<html>
<head>
	<title>Floriesteria Barcelona</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/segunda.css">
</head>
<body>
<div class="portada">	
	<div class="animacion">
		<video autoplay loop  id="bgvid">
    	<source src="iconos/bg.mp4" type="video/mp4">
		</video>
		<!--circulos -->
		<div class="circulos">
			<a href="index.html">
				<div  class="inicio">
					<img  src="iconos/home.svg" type="image/svg">
				</div>
			</a>

			<a href="formulario.html">
				<div class="formulario">
				<img src="iconos/comment-square.svg">
				</div>
			</a>

			<a href="segunda.html">
				<div id="activo" class="segunda">
					<img  src="iconos/cross.svg">
				</div>

			</a>
			
		</div>
	</div>
</div>

<!-- contenuido -->

	<div class="contenedor">
		<a href="https://www.google.es/maps/place/Floristeria+Barcelona/@41.4009139,2.1658884,17z/data=!4m5!1m2!2m1!1sfloristeria+barcelona!3m1!1s0x12a4a2ea9a14bfaf:0xd7bee8d8325d9b05"><img class="mapa" ></a>
		<p>Estamos ubicados al lado de la parada del metro verdaguer.</p>
		<hr>
		<p class="ame">956954952</p>
		<p>C/ del Rosello, 298, 08037, Barcelona</p>
	
	</div>

</body>
</html>